@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap'); /* General Styling */
/*
  Font family: 'Roboto', sans-serif;
  Imported from Google Fonts: https://fonts.google.com/specimen/Roboto
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d2bfa0;
    color: #000000;
    margin: 0;
}

.logo {
    max-height: 80px;
}

.blog-post button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.blog-post button {
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
}

#contact-form button {
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 700;
}

/* Header Styling */
header {
    background-color: #a08262;
    padding: 20px;
    border-bottom: 1px solid #7a6952;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow the header to wrap */
}

nav {
    display: flex; /* Make the nav a flex container */
    flex-direction: row; /* Place logo and title horizontally */
    align-items: center; /* Align items vertically to the center */
}

nav h1 {
    font-family: 'MedievalSharp', serif;
    font-size: 2.5em;
    margin: 0 0 10px 10px; /* Add margin below the title */
    color: #000000; /* Changed color to black */
    text-shadow: 2px 2px 4px #e0c097; /* Added a tan text-shadow */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav li {
    padding: 10px 20px;
    border: 1px solid #7a6952;
    background-color: #e0c097;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #333333;
}

/* Main Content Styling */
main {
    padding: 20px 0;
}

/* Section Styling */
section {
    margin-bottom: 40px;
}

/* Hero Section Styling */
.hero {
    text-align: center;
    padding: 40px 0;
}

/* Blog Post Styling */
.blog-post {
    border: 1px solid #7a6952;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #c2a383;
}

/* Form Styling */
.create-post {
    padding: 20px;
    border: 1px solid #7a6952;
    background-color: #c2a383;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #7a6952;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer Styling */
footer {
    background-color: #a08262;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #7a6952;
}